UTF-8";

html {
  font: 15px "roboto mono";
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.376em;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  width: 60%;
}


nav {
  float: right;
  width: 5%;

  min-height: 100%;
  background: #4E545C;
  color: #000401;
  overflow: hidden;
  transition: width 0.5s ease;
}



nav label {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.26em 0;
  height: 2.6em;
  cursor: pointer;



}
nav label:before {
  content: "";
  position: absolute;
  width: 100%;
  font-family:
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px 0 #666;
  transition: all 0.5s ease;
}
nav label:hover:before {
  text-shadow: none;
}



:target {
  z-index: 2;
  opacity: 1;
}


input {
  display: none;
}


input:checked ~ section {
  width: 85%;
}


input:checked ~ nav {
  width: 15%;
}


input:checked ~ nav > label:before {
  content: "ï€";
}


input:checked ~ nav > label + .navigation {
  display: flex;
}


.navigation {
  display: none;
  flex-direction: column;
  width: 100%;
}

.navigation a {
  display: block;
  align-self: center;
  padding: 0.5em 0;
  color: #000401;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #666;
}

nav label,
.navigation a {
  border-bottom: 1px dashed #000401;
  transition: all 0.5s ease;
}
nav label:hover,
.navigation a:hover {
  background: #ffffff;
  text-shadow: none;
}
nav label:active,
.navigation a:active {
  background: #000401;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 95%;
  min-height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: width 0.5s, opacity 0.5s;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


.sec-home {
  float: left;
  position: relative;
  background: #E5E8E8;
  color: #4E545C;
  opacity: 1;
}

.sec-home a {
  color: #000401;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}
.sec-home a:hover {
  color: #4E545C;
}
.sec-home a:active {
  color: #000401;
}

.sec-home .content {
  height: 50%;
  text-align: center;
}


.sec-about {
  background: #BBC4C2;
  color: #4E545C;
}

.sec-about .content {
  height: 55%;
  text-align: center;
}


.sec-portfolio {
  background: #fff;
  overflow: hidden;
}

.sec-portfolio .col-big {
  float: left;
  position: relative;
  width: 25%;
  height: 20vw;
}

.sec-portfolio img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  transition: all 0.5s ease;
}
.sec-portfolio img:hover {
  opacity: 1;
}
